$bgColor: #f2f3f7;

.timeline {
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    display: block;
    width: 4px;
    background: $bgColor;
    top: 20px;
    bottom: 20px;
    margin-left: 9px;
    border-radius: 10px;
  }

  &-item {
    position: relative;
    margin-bottom: 1rem;
  }

  &-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: $bgColor;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 0 5px $bgColor;
    line-height: 20px;
    float: left;
    margin-top: 10px;
  }

  &-label {
    position: relative;
    background: $bgColor;
    padding: 1.5em;
    margin-left: 60px;
    background-clip: padding-box;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 9px 9px 0;
      border-color: transparent #f2f3f7 transparent transparent;
      left: 0;
      top: 10px;
      margin-left: -9px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    & > a {
      color: #aaa;
    }

    .title-wrapper {
      display: flex;
      flex-direction: column;

      & > h4 {
        margin-bottom: 0.3rem
      }

      & > div {
        font-size: 14px;
        font-style: italic;
      }
    }
  }

  .description {
    font-size: 14px;
  }
}