@import '../../styles//breakpoints.scss';

.skill {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  width: 30vw;
  margin: 1rem 2rem 1rem 0;

  @include media-breakpoint-down(md) {
    width: 100%;
    margin: 1.25rem 0;
    border-bottom: 1px solid #dedede;
    display: block;
  }

  .text-wrapper {
    margin-left: 1rem;


    @include media-breakpoint-down(md) {
      margin-left: 0.5rem;
    }
  }

  .title-wrapper {
    margin-bottom: 0.5rem
  }

  .children-wrapper {
    margin-bottom: 0;
    font-size: 0.9375rem;
  }
}